body
{
  background-color: #434242;
  overflow: hidden;
}

*
{
  margin: 0px;
  font-family: Calibri, Verdana, Arial;
  font-size: 12pt;
  color: White;
}

.spare
{
  width: 10px;
}
.red
{
  color: Red;
}
.green
{
  color: Green;
}

div.shell
{
  height: 799px;
  background-image: url(BackgroundStripThick.png);
  background-position: center;
  background-repeat: repeat-x;
  text-align: center;
}

div.shell-topstrip
{
  height: 100px;
}

div.canvas
{
  background-image: url(Canvas.jpg);
  width: 899px;
  height: 603px;
  margin: 0 auto;
  text-align: left;
}

div.top
{
  height: 130px;
}

div.middle
{
  height: 360px;
  _height: 380px;
  padding: 10px;
}

div.bottom
{
  height: 20px;
  width: 785px;
  _width: 805px;
  margin: 0px 0px 40px 45px;
  padding: 10px;
  background-image: url(Transparent.png);
}

div#menu
{
  float: left;
  width: 100px;
  _width: 120px;
  margin: 0px 0px 0px 35px;
  padding: 10px 5px 10px 10px;
  _padding-top: 5px;
  background-image: url(Transparent.png);
}

div#menu p
{
  width: 100px;
}

div.content
{
  width: 665px;
  _width: 675px;
  margin: 0px 0px 0px 160px;
  padding: 5px 5px 10px 10px;
  background-image: url(TransparentBig.png);
}

div.content h1, div.content h2, div.content h3, div.content div,
div.content p, div.content ul, div.content form, div.content table
{
  margin-top: 5px;
}

div.log, div.longlog
{
  width: 658px;
  overflow: scroll;
  border-top: solid 1px Gray;
  border-left: solid 1px Gray;
  padding-left: 2px;
  padding-top: 1px;
}
div.log
{
  height: 207px;
}
div.longlog
{
  height: 314px;
}

pre.log, pre.longlog
{
  font-family: Consolas, Lucida Console, Courier New;
  font-size: 70%;
}

input
{
  color: Black;
  height: 25px;
  margin-bottom: 4px;
}
input.ioValue, input.ioName
{
  width: 100px;
}
input.configFile
{
  width: 525px;
}
