;==============================================================================
; Default values are denoted with *. Lines without ; on the start have no
; default value and should be present/defined.

;==============================================================================
; configuration of connection to IP interface
[project]
name = SmartServer Project

;==============================================================================
; configuration of connection to IP interface
[device]
; id = knxnet:<ipaddr>:port
; id = knxnet:192.168.1.254:3671
; id = knxnet:224.0.23.12:3671
id = knxnet:192.168.1.111
; mode = tunneling | tunneling-NAT | routing
mode = tunneling
; cache_only = true | *false

;==============================================================================
; configuration of KNX interface side
[interface]
; address = 1.1.1
; read_on_start_repeat_count = *3
; read_on_start_delay = *5000

;==============================================================================
; configuration of client interface side
[client_interface]
; xml_socket_port = *6006
; sdap_port = *6007

;==============================================================================
; definition of objects and server behaviour
[behaviours]
; readers_period = *0
; readers_period = 60000

;==============================================================================
; communicated, known data objects (group addresses)
[objects]
; object | objects | logged_object | logged_objects | logged_on_change_object | logged_on_change_objects = <BEHAVIOR> <TYPE> <ADDRESSES>
; <BEHAVIOR> = tracker | tracker_init | transmitter | transmitter_with_status | transmitter_with_status_init | reader
; <TYPE> = switch | increase | time | date | value | scaling | ...
;
; objects = tracker, value, 2/1/21..2/1/140
; logged_objects = transmitter_with_status, switch, 3/1/21..3/1/140
;
; esf_adapt = RD.esf 
; esf_strict = RD.esf 
; esf_ignore = RD.esf 

;==============================================================================
; references to block used for grouped object defitions
[blocks]
; block = statuses
; block = controls
;
; [statuses]
; type = switch
; behaviour = tracker
; objects = 3/0/0..3/0/19
; logged_objects = 1/2/0..1/2/29
;
; [controls]
; type = switch
; behaviour = transmitter
; objects = 5/3/100..5/3/119
; logged_objects = 6/2/0..6/2/29

;==============================================================================
; control of initial reading of values
[read_start]
; repeat_count = *1
; delay = *150
; timeout = *1500

;==============================================================================
; formats for date and time automaticaly converted from/to string
[formats]
; time_as_string = true | *false
; date_as_string = true | *false
; time_format = HH:mm
; date_format = dd. MMMM yyyy

;==============================================================================
; definition of actions made by server automatically
[control]
; time = <ADDRESS>
; date = <ADDRESS>
; date_time_push_period = *1800000
; time = 6/0/0
; date = 6/0/1

;==============================================================================
; global log
[log]
; target = *kernel | file | none
; level = fatal | *error | warning | info
; file =
; cached = *1000
; filter = deny, *
; filter = allow, KNXnet.Connection

;==============================================================================
; data log, it allows store data log items in parallel with
; web accessed buffer
[datalog]
; target = kernel | file | *none
; file =
; cached = *1000

;==============================================================================
; http server access log
[httplog]
; target = *kernel | file | none
; level = fatal | *error | warning | info
; file =

;==============================================================================
; log of SDAP and XMLSocket connectioning
[networklog]
; target = *kernel | file | none
; level = fatal | *error | warning | info
; file =
; filter = deny, *
; filter = allow, xmls

;==============================================================================
; web interface placement and messages
[server]
; session_validity = <seconds> | *1800
; port = *6005
web_root = %exedir%\Web
message_file = %exedir%\Web\SmartServer.xrs.xml 

;==============================================================================
; user credentials
[users]
admin = sysadmin, hb3fA4WsM68ZmQpM9O5L6GgmAU8Y5NNvrrKCXsx4Zrc=
user = sysuser, OAecdJWrvWHtDayYWAQQ07puh6CQS9lCN1VrDUM2MJo=

;==============================================================================
; web interface access list
; [http_access_list]
; deny = 0.0.0.0/0
; allow = 127.0.0.1

;==============================================================================
; heating equithermic curve module, each line correcponds to one independent curve
[equithermic_curve]
; <output_temperature_address> = <inner_wish_temperature_address>, <current_outer_temperature> [, <slope 0.2--3.5 *1.3> [, <offset *0.0> ] ]
; 7/7/0 = 7/7/1, 7/7/2, 2.5, 10
; 7/7/3 = 7/7/4, 7/7/5

;==============================================================================
; persistent storage, values are written to KNX after init_read phase
[storage]
; storage_file_path = *<common program data>\SmartServer\PersistingStorage.ini, where <common program data> depends on version of operating system
; write_delay = *10 ; seconds
; <input_output_address> = <value> ; the same keys can also appear inside storage_file_path
; 3/1/21 = true

;==============================================================================
; planning week calendar
[week_calendar]
; <output_address> = <value>, <h:m> {, Mon | Tue | Wed | Thu | Fri | Sat | Sun | Weekend | WorkDay }
; 7/7/1 = 0, 8:0, Sat
; 7/7/1 = 1, 8:0, Mon
; 7/7/2 = true, 19:30
; 7/7/2 = false, 21:30, WorkDay
; 7/7/2 = false, 23:30, Weekend
