;==============================================================================
[sdap]
host = 192.168.1.253:6007

;==============================================================================
[devices]
pump1 = Left Stiebel Eltron Heat Pump
pool = AirMotion air conditioner
satel = Integra Satel

;==============================================================================
[device_pump1]
library = StiebelHp.dll
host = 192.168.1.252:10001

[device_pool]
library = AirMotion.dll
host = 192.168.1.254:10001
address = 1
poll_period = 30000

[device_satel]
library = Integra.dll
host = 192.168.1.252:10001
level = warning;
areas = satel_areas  

[satel_areas]
1st_floor = Ground floor
2nd_floor = Upper floor

[1st_floor]
partitions = 1..5, 8, 10..15

[2nd_floor]
partitions = 20..25, 30

;==============================================================================
[sdap_to_device]

pump1/StiebelHP.Data.OperatingMode = 13/7/0
pump1/StiebelHP.Data.EquithermicCurve = 13/7/1
pump1/StiebelHP.Data.Inner T setpoint = 13/7/2
pump1/StiebelHP.Data.Return T setpoint = 13/7/3
pump1/StiebelHP.Data.Water T setpoint = 13/7/4

pool/AirMotion.Data.Temperature (bath) setpoint = 1/1/4
pool/AirMotion.Data.Temperature (party) setpoint = 1/1/5
pool/AirMotion.Data.Temperature (standby) setpoint = 1/1/6
pool/AirMotion.Data.Humidity (bath) setpoint = 1/1/7
pool/AirMotion.Data.Humidity (party) setpoint = 1/1/8
pool/AirMotion.Data.Humidity (standby) setpoint = 1/1/9

satel/Integra.Data.1st_floor arm = 15/0/0
satel/Integra.Data.1st_floor disarm = 15/0/1

;==============================================================================
[device_to_sdap]

13/6/0 = pump1/StiebelHP.Data.OperatingMode
13/6/1 = pump1/StiebelHP.Data.EquithermicCurve
13/6/2 = pump1/StiebelHP.Data.Inner T setpoint
13/6/3 = pump1/StiebelHP.Data.Outer T
13/6/4 = pump1/StiebelHP.Data.Return T
13/6/5 = pump1/StiebelHP.Data.Return T setpoint
13/6/6 = pump1/StiebelHP.Data.Output T
13/6/7 = pump1/StiebelHP.Data.Water T
13/6/8 = pump1/StiebelHP.Data.Water T setpoint

1/1/0 = pool/AirMotion.Data.Humidity
1/1/1 = pool/AirMotion.Data.Temperature
1/1/2 = pool/AirMotion.Data.Humidity setpoint
1/1/3 = pool/AirMotion.Data.Temperature setpoint

15/1/0 = satel/Integra.Data.1st_floor armed
15/1/1 = satel/Integra.Data.1st_floor alarm

;==============================================================================
[log]
level = info
