;==============================================================================
; Default values are denoted with *. Lines without ; on the start have no
; default value and should be present/defined.

;==============================================================================
; [sdap] specifies adress of SDAP server, with which data (group adressed) will be communicated
[sdap]
; host = address of SDAP server
; host = 192.168.1.1:6007
host = 192.168.1.253:6007

;==============================================================================
; [devices] specifies list of device used later
[devices]
; deviceIdentifier = device description text
satel = Satel Integra

;==============================================================================
; [<device_deviceIdentifier>] sections, these sections are multiple and they
; are named by [devices] section. Each of devices defined in [devices]
; should have self section.
[device_satel]
library = Integra.dll
host = 192.168.1.252:10001
level = warning
areas = satel_areas ;a section with the "satel_areas" name will be looked for  

; A section defining Integra areas known to the plugin. Each defined section
; must be somewhere in the file described with own section with the name of the
; key.  
[satel_areas]
1st_floor = Ground floor ;a section with the "1st_floor" will be looked for
2nd_floor = Upper floor ;a section with the "2nd_floor" will be looked for

; A section defined as one of Integra areas, the section define single
; parameter partitions containing partitions assigned to the area. Partitions
; can be defined either as a single number or as an interval (..).  
[1st_floor]
partitions = 1..5, 8, 10..15

; A section defined as one of Integra areas, the section define single
; parameter partitions containing partitions assigned to the area. Partitions
; can be defined either as a single number or as an interval (..).  
[2nd_floor]
partitions = 20..25, 30

;==============================================================================
; [sdap_to_device] specifies list of data points transferred from SDAP to device
[sdap_to_device]
; deviceIdentifier/dataPointName = SDAP group address

; ===== Integra
satel/Integra.Data.1st_floor arm = 15/0/0
satel/Integra.Data.1st_floor disarm = 15/0/1

;==============================================================================
; [device_to_sdap] specifies list of data points transferred from device to SDAP
[device_to_sdap]
; SDAP group address = deviceIdentifier/dataPointName

; ===== Integra
15/1/0 = satel/Integra.Data.1st_floor armed
15/1/1 = satel/Integra.Data.1st_floor alarm

;==============================================================================
; global log
[log]
; target = *kernel | file | none
; level = fatal | *error | warning | info
level = info

;==============================================================================
; list of all known Integra data points

; R/O Integra.Data.<area> armed = status of area arming [boolean]
; R/O Integra.Data.<area> alarm = status of area alarm [boolean]
; R/O Integra.Data.<area> outputs = status of outputs [boolean]
;
; W/O Integra.Data.<area> arm = arming of the area, the user code is expected [string]
; W/O Integra.Data.<area> disarm = disarming of the area, the user code is expected [string]
