;==============================================================================
; Default values are denoted with *. Lines without ; on the start have no
; default value and should be present/defined.

;==============================================================================
; [sdap] specifies adress of SDAP server, with which data (group adressed) will be communicated
[sdap]
; host = address of SDAP server
; host = 192.168.1.1:6007
host = 192.168.1.253:6007

;==============================================================================
; [devices] specifies list of device used later
[devices]
; deviceIdentifier = device description text
; pump1 = Left Stiebel Eltron Heat Pump
; pump2 = Right Stiebel Eltron Heat Pump
; pool = AirMotion air conditioner
; satel = Satel Integra

;==============================================================================
; [<device_deviceIdentifier>] sections, these sections are multiple and they
; are named by [devices] section. Each of devices defined in [devices]
; should have self section.
[device_pump1]
; library = file path to DLL with device driver
; library = stiebelhp.dll
; host = address of TCP-connected RS-232 convertor connected to the device
; host = 192.168.1.252:10001
library = StiebelHp.dll
host = 192.168.1.252:10001

; [device_pump2]
; library = StiebelHp.dll
; host = 192.168.1.253:10001

; [device_pool]
; library = AirMotion.dll
; host = 192.168.1.254:10001
; address = 1 ; address of device, usually 1
; poll_period = 30000 ; milliseconds, period of reading out device data

; [device_satel]
; library = Integra.dll
; host = 192.168.1.252:10001
; areas = [<areas_section>]
; areas = satel_areas ;a section with the "satel_areas" name will be looked for  

; A section defining Integra areas known to the plugin. Each defined section
; must be somewhere in the file described with own section with the name of the
; key, e.g. [<area>].
; [<areas_section>]
; <area> = description  
; <area> = description  
; ...
;
; [satel_areas]
; 1st_floor = Ground floor ;a section with the "1st_floor" will be looked for
; 2nd_floor = Upper floor ;a section with the "2nd_floor" will be looked for

; A section defined as one of Integra areas, the section define single
; parameter partitions containing partitions assigned to the area. Partitions
; can be defined either as a single number or as an interval (..).
; [<area>]
; partitions = ... ; comma separated list of values or itervals
;  
; [1st_floor]
; partitions = 1..5, 8, 10..15

;==============================================================================
; [sdap_to_device] specifies list of data points transferred from SDAP to device
[sdap_to_device]
; deviceIdentifier/dataPointName = SDAP group address

; ===== Stiebel HP
; pump1/StiebelHP.Data.OperatingMode = 13/7/0
; pump1/StiebelHP.Data.EquithermicCurve = 13/7/1
; pump1/StiebelHP.Data.Inner T setpoint = 13/7/2
; pump1/StiebelHP.Data.Return T setpoint = 13/7/3
pump1/StiebelHP.Data.Water T setpoint = 13/7/4
pump2/StiebelHP.Data.Water T setpoint = 13/7/5

; ===== AirMotion
; am/AirMotion.Data.Temperature (bath) setpoint = 1/1/4
; am/AirMotion.Data.Temperature (party) setpoint = 1/1/5
; am/AirMotion.Data.Temperature (standby) setpoint = 1/1/6
; am/AirMotion.Data.Humidity (bath) setpoint = 1/1/7
; am/AirMotion.Data.Humidity (party) setpoint = 1/1/8
; am/AirMotion.Data.Humidity (standby) setpoint = 1/1/9

; ===== Integra
; satel/Integra.Data.1st_floor arm = 15/0/0
; satel/Integra.Data.1st_floor disarm = 15/0/1

;==============================================================================
; [device_to_sdap] specifies list of data points transferred from device to SDAP
[device_to_sdap]
; SDAP group address = deviceIdentifier/dataPointName

; ===== Stiebel HP
13/6/0 = pump1/StiebelHP.Data.OperatingMode
13/6/1 = pump1/StiebelHP.Data.EquithermicCurve
13/6/2 = pump1/StiebelHP.Data.Inner T setpoint
13/6/3 = pump1/StiebelHP.Data.Outer T
13/6/4 = pump1/StiebelHP.Data.Return T
13/6/5 = pump1/StiebelHP.Data.Return T setpoint
13/6/6 = pump1/StiebelHP.Data.Output T
13/6/7 = pump1/StiebelHP.Data.Water T
13/6/8 = pump1/StiebelHP.Data.Water T setpoint

; ===== AirMotion
; 1/1/0 = am/AirMotion.Data.Humidity
; 1/1/1 = am/AirMotion.Data.Temperature
; 1/1/2 = am/AirMotion.Data.Humidity setpoint
; 1/1/3 = am/AirMotion.Data.Temperature setpoint

; ===== Integra
; 15/1/0 = satel/Integra.Data.1st_floor armed
; 15/1/1 = satel/Integra.Data.1st_floor alarm

;==============================================================================
; global log
[log]
; target = *kernel | file | none
; level = fatal | *error | warning | info
level = info

;==============================================================================
; list of all known StiebelHP data points
; R/W StiebelHP.Data.OperatingMode = 0 = emergency | 1 = standby | 2 = automatic | 3 = night | 4 = damping | 5 = hot water only
; R/W StiebelHP.Data.EquithermicCurve = 0.5..2.0?
; 
; R/W StiebelHP.Data.Inner T setpoint = temperature [°C]
; R/O StiebelHP.Data.Outer T = temperature [°C]
; R/O StiebelHP.Data.Return T = temperature [°C]
; R/W StiebelHP.Data.Return T setpoint = temperature [°C]
; R/O StiebelHP.Data.Output T = temperature [°C]
; 
; R/O StiebelHP.Data.Water T = temperature [°C]
; R/W StiebelHP.Data.Water T setpoint = temperature [°C]
;
; R/W StiebelHP.Data.Error occurred = boolean, status, reset of new error occurence
;
; R/O StiebelHP.Data.Error 01 Code = code of error
; R/O StiebelHP.Data.Error 01 Date = date of error
; R/O StiebelHP.Data.Error 01 Time = time of error
; ...
; ... up to 20 error records:
; ...
; R/O StiebelHP.Data.Error 20 Code = code of error
; R/O StiebelHP.Data.Error 20 Date = date of error
; R/O StiebelHP.Data.Error 20 Time = time of error

;==============================================================================
; list of all known AitMotion data points
; R/O AirMotion.Data.Humidity = relative humidity [%]
; R/O AirMotion.Data.Temperature = temperature [°C]
; R/O AirMotion.Data.Humidity setpoint = relative humidity [%]
; R/O AirMotion.Data.Temperature setpoint = temperature [°C]
;
; R/W AirMotion.Data.Temperature (bath) setpoint = temperature [°C]
; R/W AirMotion.Data.Temperature (party) setpoint = temperature [°C]
; R/W AirMotion.Data.Temperature (standby) setpoint = temperature [°C]
; R/W AirMotion.Data.Humidity (bath) setpoint = relative humidity [%]
; R/W AirMotion.Data.Humidity (party) setpoint = relative humidity [%]
; R/W AirMotion.Data.Humidity (standby) setpoint = relative humidity [%]

;==============================================================================
; list of all known Integra data points

; R/O Integra.Data.<area> armed = status of area arming [boolean]
; R/O Integra.Data.<area> alarm = status of area alarm [boolean]
; R/O Integra.Data.<area> outputs = status of outputs [boolean]
;
; W/O Integra.Data.<area> arm = arming of the area, the user code is expected [string]
; W/O Integra.Data.<area> disarm = disarming of the area, the user code is expected [string]
