;==============================================================================
; Default values are denoted with *. Lines without ; on the start have no
; default value and should be present/defined.

;==============================================================================
; [sdap] specifies adress of SDAP server, with which data (group adressed) will be communicated
[sdap]
; host = address of SDAP server
; host = 192.168.1.1:6007
host = 192.168.1.253:6007

;==============================================================================
; [devices] specifies list of device used later
[devices]
; deviceIdentifier = device description text
pool = AirMotion air conditioner

;==============================================================================
; [<device_deviceIdentifier>] sections, these sections are multiple and they
; are named by [devices] section. Each of devices defined in [devices]
; should have self section.
[device_pool]
library = AirMotion.dll
host = 192.168.1.254:10001
address = 1
; poll_period = 30000 ; milliseconds, period of reading out device data

;==============================================================================
; [sdap_to_device] specifies list of data points transferred from SDAP to device
[sdap_to_device]
; deviceIdentifier/dataPointName = SDAP group address

; ===== AirMotion
pool/AirMotion.Data.Temperature (bath) setpoint = 1/1/4
pool/AirMotion.Data.Temperature (party) setpoint = 1/1/5
pool/AirMotion.Data.Temperature (standby) setpoint = 1/1/6
pool/AirMotion.Data.Humidity (bath) setpoint = 1/1/7
pool/AirMotion.Data.Humidity (party) setpoint = 1/1/8
pool/AirMotion.Data.Humidity (standby) setpoint = 1/1/9

;==============================================================================
; [device_to_sdap] specifies list of data points transferred from device to SDAP
[device_to_sdap]
; SDAP group address = deviceIdentifier/dataPointName

; ===== AirMotion
1/1/0 = pool/AirMotion.Data.Humidity
1/1/1 = pool/AirMotion.Data.Temperature
1/1/2 = pool/AirMotion.Data.Humidity setpoint
1/1/3 = pool/AirMotion.Data.Temperature setpoint

;==============================================================================
; global log
[log]
; target = *kernel | file | none
; level = fatal | *error | warning | info
level = info

;==============================================================================
; list of all known AitMotion data points
; R/O AirMotion.Data.Humidity = relative humidity [%]
; R/O AirMotion.Data.Temperature = temperature [°C]
; R/O AirMotion.Data.Humidity setpoint = relative humidity [%]
; R/O AirMotion.Data.Temperature setpoint = temperature [°C]
;
; R/W AirMotion.Data.Temperature (bath) setpoint = temperature [°C]
; R/W AirMotion.Data.Temperature (party) setpoint = temperature [°C]
; R/W AirMotion.Data.Temperature (standby) setpoint = temperature [°C]
; R/W AirMotion.Data.Humidity (bath) setpoint = relative humidity [%]
; R/W AirMotion.Data.Humidity (party) setpoint = relative humidity [%]
; R/W AirMotion.Data.Humidity (standby) setpoint = relative humidity [%]
