[sdap]
host = 127.0.0.1:6007

[devices]
hp1 = Stiebel Eltron Heat Pump
hp2 = Stiebel Eltron Heat Pump

[device_hp1]
library = stiebelhp.dll
host = 192.168.1.251:10001
;time_format = HH:mm:ss
;date_format = yyyy-MM-dd

[device_hp2]
library = stiebelhp.dll
host = 192.168.1.252:10001
;time_format = HH:mm:ss
;date_format = yyyy-MM-dd

[sdap_to_device]
hp1/StiebelHP.Data.Error occurred = 5/0/14
hp2/StiebelHP.Data.Error occurred = 5/1/14

[device_to_sdap]
period = 45

5/0/0 = hp1/StiebelHP.Data.OperatingMode
5/0/1 = hp1/StiebelHP.Data.EquithermicCurve
5/0/3 = hp1/StiebelHP.Data.Outer T
5/0/4 = hp1/StiebelHP.Data.Return T
5/0/6 = hp1/StiebelHP.Data.Output T
5/0/7 = hp1/StiebelHP.Data.Water T
5/0/8 = hp1/StiebelHP.Data.Water T setpoint
5/0/13 = hp1/StiebelHP.Data.Error occurred

5/0/55 = hp1/StiebelHP.Data.Error 01 Code
5/0/56 = hp1/StiebelHP.Data.Error 02 Code
5/0/57 = hp1/StiebelHP.Data.Error 03 Code
5/0/58 = hp1/StiebelHP.Data.Error 04 Code
5/0/59 = hp1/StiebelHP.Data.Error 05 Code
5/0/60 = hp1/StiebelHP.Data.Error 06 Code
5/0/61 = hp1/StiebelHP.Data.Error 07 Code
5/0/62 = hp1/StiebelHP.Data.Error 08 Code
5/0/63 = hp1/StiebelHP.Data.Error 09 Code
5/0/64 = hp1/StiebelHP.Data.Error 10 Code
5/0/65 = hp1/StiebelHP.Data.Error 11 Code
5/0/66 = hp1/StiebelHP.Data.Error 12 Code
5/0/67 = hp1/StiebelHP.Data.Error 13 Code
5/0/68 = hp1/StiebelHP.Data.Error 14 Code
5/0/69 = hp1/StiebelHP.Data.Error 15 Code
5/0/70 = hp1/StiebelHP.Data.Error 16 Code
5/0/71 = hp1/StiebelHP.Data.Error 17 Code
5/0/72 = hp1/StiebelHP.Data.Error 18 Code
5/0/73 = hp1/StiebelHP.Data.Error 19 Code
5/0/74 = hp1/StiebelHP.Data.Error 20 Code

5/0/35 = hp1/StiebelHP.Data.Error 01 Time
5/0/36 = hp1/StiebelHP.Data.Error 02 Time
5/0/37 = hp1/StiebelHP.Data.Error 03 Time
5/0/38 = hp1/StiebelHP.Data.Error 04 Time
5/0/39 = hp1/StiebelHP.Data.Error 05 Time
5/0/40 = hp1/StiebelHP.Data.Error 06 Time
5/0/41 = hp1/StiebelHP.Data.Error 07 Time
5/0/42 = hp1/StiebelHP.Data.Error 08 Time
5/0/43 = hp1/StiebelHP.Data.Error 09 Time
5/0/44 = hp1/StiebelHP.Data.Error 10 Time
5/0/45 = hp1/StiebelHP.Data.Error 11 Time
5/0/46 = hp1/StiebelHP.Data.Error 12 Time
5/0/47 = hp1/StiebelHP.Data.Error 13 Time
5/0/48 = hp1/StiebelHP.Data.Error 14 Time
5/0/49 = hp1/StiebelHP.Data.Error 15 Time
5/0/50 = hp1/StiebelHP.Data.Error 16 Time
5/0/51 = hp1/StiebelHP.Data.Error 17 Time
5/0/52 = hp1/StiebelHP.Data.Error 18 Time
5/0/53 = hp1/StiebelHP.Data.Error 19 Time
5/0/54 = hp1/StiebelHP.Data.Error 20 Time

5/0/15 = hp1/StiebelHP.Data.Error 01 Date
5/0/16 = hp1/StiebelHP.Data.Error 02 Date
5/0/17 = hp1/StiebelHP.Data.Error 03 Date
5/0/18 = hp1/StiebelHP.Data.Error 04 Date
5/0/19 = hp1/StiebelHP.Data.Error 05 Date
5/0/20 = hp1/StiebelHP.Data.Error 06 Date
5/0/21 = hp1/StiebelHP.Data.Error 07 Date
5/0/22 = hp1/StiebelHP.Data.Error 08 Date
5/0/23 = hp1/StiebelHP.Data.Error 09 Date
5/0/24 = hp1/StiebelHP.Data.Error 10 Date
5/0/25 = hp1/StiebelHP.Data.Error 11 Date
5/0/26 = hp1/StiebelHP.Data.Error 12 Date
5/0/27 = hp1/StiebelHP.Data.Error 13 Date
5/0/28 = hp1/StiebelHP.Data.Error 14 Date
5/0/29 = hp1/StiebelHP.Data.Error 15 Date
5/0/30 = hp1/StiebelHP.Data.Error 16 Date
5/0/31 = hp1/StiebelHP.Data.Error 17 Date
5/0/32 = hp1/StiebelHP.Data.Error 18 Date
5/0/33 = hp1/StiebelHP.Data.Error 19 Date
5/0/34 = hp1/StiebelHP.Data.Error 20 Date

5/1/0 = hp2/StiebelHP.Data.OperatingMode
5/1/1 = hp2/StiebelHP.Data.EquithermicCurve
5/1/3 = hp2/StiebelHP.Data.Outer T
5/1/4 = hp2/StiebelHP.Data.Return T
5/1/6 = hp2/StiebelHP.Data.Output T
5/1/7 = hp2/StiebelHP.Data.Water T
5/1/8 = hp2/StiebelHP.Data.Water T setpoint
5/1/13 = hp2/StiebelHP.Data.Error occurred

5/1/55 = hp2/StiebelHP.Data.Error 01 Code
5/1/56 = hp2/StiebelHP.Data.Error 02 Code
5/1/57 = hp2/StiebelHP.Data.Error 03 Code
5/1/58 = hp2/StiebelHP.Data.Error 04 Code
5/1/59 = hp2/StiebelHP.Data.Error 05 Code
5/1/60 = hp2/StiebelHP.Data.Error 06 Code
5/1/61 = hp2/StiebelHP.Data.Error 07 Code
5/1/62 = hp2/StiebelHP.Data.Error 08 Code
5/1/63 = hp2/StiebelHP.Data.Error 09 Code
5/1/64 = hp2/StiebelHP.Data.Error 10 Code
5/1/65 = hp2/StiebelHP.Data.Error 11 Code
5/1/66 = hp2/StiebelHP.Data.Error 12 Code
5/1/67 = hp2/StiebelHP.Data.Error 13 Code
5/1/68 = hp2/StiebelHP.Data.Error 14 Code
5/1/69 = hp2/StiebelHP.Data.Error 15 Code
5/1/70 = hp2/StiebelHP.Data.Error 16 Code
5/1/71 = hp2/StiebelHP.Data.Error 17 Code
5/1/72 = hp2/StiebelHP.Data.Error 18 Code
5/1/73 = hp2/StiebelHP.Data.Error 19 Code
5/1/74 = hp2/StiebelHP.Data.Error 20 Code

5/1/35 = hp2/StiebelHP.Data.Error 01 Time
5/1/36 = hp2/StiebelHP.Data.Error 02 Time
5/1/37 = hp2/StiebelHP.Data.Error 03 Time
5/1/38 = hp2/StiebelHP.Data.Error 04 Time
5/1/39 = hp2/StiebelHP.Data.Error 05 Time
5/1/40 = hp2/StiebelHP.Data.Error 06 Time
5/1/41 = hp2/StiebelHP.Data.Error 07 Time
5/1/42 = hp2/StiebelHP.Data.Error 08 Time
5/1/43 = hp2/StiebelHP.Data.Error 09 Time
5/1/44 = hp2/StiebelHP.Data.Error 10 Time
5/1/45 = hp2/StiebelHP.Data.Error 11 Time
5/1/46 = hp2/StiebelHP.Data.Error 12 Time
5/1/47 = hp2/StiebelHP.Data.Error 13 Time
5/1/48 = hp2/StiebelHP.Data.Error 14 Time
5/1/49 = hp2/StiebelHP.Data.Error 15 Time
5/1/50 = hp2/StiebelHP.Data.Error 16 Time
5/1/51 = hp2/StiebelHP.Data.Error 17 Time
5/1/52 = hp2/StiebelHP.Data.Error 18 Time
5/1/53 = hp2/StiebelHP.Data.Error 19 Time
5/1/54 = hp2/StiebelHP.Data.Error 20 Time

5/1/15 = hp2/StiebelHP.Data.Error 01 Date
5/1/16 = hp2/StiebelHP.Data.Error 02 Date
5/1/17 = hp2/StiebelHP.Data.Error 03 Date
5/1/18 = hp2/StiebelHP.Data.Error 04 Date
5/1/19 = hp2/StiebelHP.Data.Error 05 Date
5/1/20 = hp2/StiebelHP.Data.Error 06 Date
5/1/21 = hp2/StiebelHP.Data.Error 07 Date
5/1/22 = hp2/StiebelHP.Data.Error 08 Date
5/1/23 = hp2/StiebelHP.Data.Error 09 Date
5/1/24 = hp2/StiebelHP.Data.Error 10 Date
5/1/25 = hp2/StiebelHP.Data.Error 11 Date
5/1/26 = hp2/StiebelHP.Data.Error 12 Date
5/1/27 = hp2/StiebelHP.Data.Error 13 Date
5/1/28 = hp2/StiebelHP.Data.Error 14 Date
5/1/29 = hp2/StiebelHP.Data.Error 15 Date
5/1/30 = hp2/StiebelHP.Data.Error 16 Date
5/1/31 = hp2/StiebelHP.Data.Error 17 Date
5/1/32 = hp2/StiebelHP.Data.Error 18 Date
5/1/33 = hp2/StiebelHP.Data.Error 19 Date
5/1/34 = hp2/StiebelHP.Data.Error 20 Date
