;==============================================================================
; Default values are denoted with *. Lines without ; on the start have no
; default value and should be present/defined.

;==============================================================================
; [sdap] specifies adress of SDAP server, with which data (group adressed) will be communicated
[sdap]
; host = address of SDAP server
; host = 192.168.1.1:6007
host = 127.0.0.1:6007

;==============================================================================
; [devices] specifies list of device used later
[devices]
; deviceIdentifier = device description text
receiver = Onkyo A/V received

;==============================================================================
; [<device_deviceIdentifier>] sections, these sections are multiple and they
; are named by [devices] section. Each of devices defined in [devices]
; should have self section.
[device_receiver]
library = Onkyo.dll
host = 192.168.1.254

;==============================================================================
; [sdap_to_device] specifies list of data points transferred from SDAP to device
[sdap_to_device]
; deviceIdentifier/dataPointName = SDAP group address

; ===== Onkyo
receiver/Onkyo.Data.Power = 15/8/0
receiver/Onkyo.Data.Master volume = 15/8/2

;==============================================================================
; [device_to_sdap] specifies list of data points transferred from device to SDAP
[device_to_sdap]
; SDAP group address = deviceIdentifier/dataPointName

; ===== Onkyo
15/9/0 = receiver/Onkyo.Data.Power
15/9/1 = receiver/Onkyo.Data.Power status
15/9/2 = receiver/Onkyo.Data.Master volume status

;==============================================================================
; global log
[log]
; target = *kernel | file | none
; level = fatal | *error | warning | info
level = info

;==============================================================================
; list of all known Onkyo data points
; R/W Onkyo.Data.Power = power on [boolean]
; R/O Onkyo.Data.Power status = power on status [boolean]
;
; R/W Onkyo.Data.Input = input selector [string], possible values are: unknown video1 video2 video3 video4 video5 video6 video7 dvd tape1 tape2 phono cd fm am tuner dlna inetradio usbfront usbrear network up down 
; R/O Onkyo.Data.Input status = input selector status [string], possbile values are same as for Onkyo.Data.Input 
;
; R/W Onkyo.Data.Speakers A = speakers A on [boolean]
; R/O Onkyo.Data.Speakers A status = speakers A on status [boolean]
;
; R/W Onkyo.Data.Speakers B = speakers B on [boolean]
; R/O Onkyo.Data.Speakers B status = speakers B on status [boolean]
;
; R/W Onkyo.Data.Master volume = master volume level [integer], allowed range is 0..100
; R/O Onkyo.Data.Master volume status = master volume level [integer]
; R/W Onkyo.Data.Master volume up = increase master volume level [boolean], works if 'true' is written
; R/W Onkyo.Data.Master volume down = decrease master volume level [boolean], works if 'true' is written
;
; R/O Onkyo.Data.Audio info = information about played audio [string], if available 
;
; R/W Onkyo.Data.HDMI output = HDMI output selector [string], possible values are: unknown none main sub main+sub up 
; R/O Onkyo.Data.HDMI output status = HDMI output selector status [string], possbile values are same as for Onkyo.Data.HDMI output 
;
; R/W Onkyo.Data.Zone 2 power = zone 2 power on [boolean]
; R/O Onkyo.Data.Zone 2 power status = zone 2 power on status [boolean]
;
; R/W Onkyo.Data.Zone 3 power = zone 3 power on [boolean]
; R/O Onkyo.Data.Zone 3 power status = zone 3 power on status [boolean]
;
; R/W Onkyo.Data.Zone 4 power = zone 4 power on [boolean]
; R/O Onkyo.Data.Zone 4 power status = zone 4 power on status [boolean]
