;==============================================================================
; Default values are denoted with *. Lines without ; on the start have no
; default value and should be present/defined.

;==============================================================================
; [sdap] specifies adress of SDAP server, with which data (group adressed) will be communicated
[sdap]
; host = address of SDAP server
; host = 192.168.1.1:6007
host = 192.168.1.253:6007

;==============================================================================
; [devices] specifies list of device used later
[devices]
; deviceIdentifier = device description text
; hp1 = Stiebel Eltron Heat Pump
hp1 = Stiebel Eltron Heat Pump

;==============================================================================
; [device_deviceIdentifier] sections, these sections are multiple and they
; are named by [devices] section. Each of devices defined in [devices]
; should have self section.
[device_hp1]
; library = file path to DLL with device driver
; library = stiebelhp.dll
; host = address of TCP-connected RS-232 convertor connected to the device
; host = 192.168.1.252:10001
library = D:\Work\SmartControl\Code\DeviceIO\StiebelHP\~Debug\stiebelhp.dll
host = 192.168.1.252:10001

;==============================================================================
; [sdap_to_device] specifies list of data points transferred from SDAP to device
[sdap_to_device]
; deviceIdentifier/dataPointName = SDAP group address
; hp1/StiebelHP.Data.OperatingMode = 13/7/0
; hp1/StiebelHP.Data.EquithermicCurve = 13/7/1
; hp1/StiebelHP.Data.Inner T setpoint = 13/7/2
; hp1/StiebelHP.Data.Return T setpoint = 13/7/3
hp1/StiebelHP.Data.Water T setpoint = 13/7/4

;==============================================================================
; [device_to_sdap] specifies list of data points transferred from device to SDAP
[device_to_sdap]
; SDAP group address = deviceIdentifier/dataPointName
13/6/0 = hp1/StiebelHP.Data.OperatingMode
13/6/1 = hp1/StiebelHP.Data.EquithermicCurve
13/6/2 = hp1/StiebelHP.Data.Inner T setpoint
13/6/3 = hp1/StiebelHP.Data.Outer T
13/6/4 = hp1/StiebelHP.Data.Return T
13/6/5 = hp1/StiebelHP.Data.Return T setpoint
13/6/6 = hp1/StiebelHP.Data.Output T
13/6/7 = hp1/StiebelHP.Data.Water T
13/6/8 = hp1/StiebelHP.Data.Water T setpoint

;==============================================================================
; global log
[log]
; target = *kernel | file | none
; level = fatal | *error | warning | info
level = info

;==============================================================================
; list of all known StiebelHP data points
; StiebelHP.Data.OperatingMode = 0 = nouze| 1 = pohotovost | 2 = automaticky | 3 = denní provoz | 4 = útlum | 5 = TUV
; StiebelHP.Data.EquithermicCurve = 0.5..2.0?
; 
; StiebelHP.Data.Inner T setpoint = teplota
; StiebelHP.Data.Outer T = teplota
; StiebelHP.Data.Return T = teplota
; StiebelHP.Data.Return T setpoint = teplota
; StiebelHP.Data.Output T = teplota
; 
; StiebelHP.Data.Water T = teplota
; StiebelHP.Data.Water T setpoint = teplota
