;==============================================================================
; Default values are denoted with *. Lines without ; on the start have no
; default value and should be present/defined.

;==============================================================================
; configuration of connection to IP interface
[device]
; id = eibnet:<ipaddr>:port
; id = eibnet:192.168.1.254:3671
; id = eibnet:224.0.23.12:3671
id = eibnet:192.168.1.111
; mode = tunneling | tunneling-ACK | routing
mode = tunneling
; cache_only = true | *false

;==============================================================================
; configuration of KNX interface side
[interface]
; address = 1.1.1
; read_on_start_repeat_count = *3
; read_on_start_delay = *5000

;==============================================================================
; communicated, known data objects (group addresses)
[objects]
; object | objects | logged_object | logged_objects | logged_on_change_object | logged_on_change_objects = <BEHAVIOR> <TYPE> <ADDRESSES>
; <BEHAVIOR> = tracker | tracker_init | transmitter | transmitter_with_status | transmitter_with_status_init
; <TYPE> = switch | increase | time | date | value | scaling | ...
;
; objects = tracker, value, 2/1/21..2/1/140
; logged_objects = transmitter_with_status, switch, 3/1/21..3/1/140
;
; esf_adapt = RD.esf 
; esf_strict = RD.esf 
; esf_ignore = RD.esf 

;==============================================================================
; references to block used for grouped object defitions
[blocks]
; block = statuses
; block = controls
;
; [statuses]
; type = switch
; behaviour = tracker
; objects = 3/0/0..3/0/19
; logged_objects = 1/2/0..1/2/29
;
; [controls]
; type = switch
; behaviour = transmitter
; objects = 5/3/100..5/3/119
; logged_objects = 6/2/0..6/2/29

;==============================================================================
; control of initial reading of values
[read_start]
; repeat_count = *1
; delay = *150
; timeout = *1500

;==============================================================================
; formats for date and time automaticaly converted from/to string
[formats]
; time_as_string = true | *false
; date_as_string = true | *false
; time_format = HH:mm
; date_format = dd. MMMM yyyy

;==============================================================================
; global log
; [log]
; target = *kernel | file | none
; level = fatal | *error | warning | info
; file =
; cached = *1000
; filter = deny, *
; filter = allow, EibNet.Connection

;==============================================================================
; data log, it allows store data log items in parallel with
; web accessed buffer
; [datalog]
; target = kernel | file | *none
; file =
; cached = *1000

;==============================================================================
; http server access log
; [httplog]
; target = *kernel | file | none
; level = fatal | *error | warning | info
; file =

;==============================================================================
; log of SDAP and XMLSocket connectioning
; [networklog]
; target = *kernel | file | none
; level = fatal | *error | warning | info
; file =
; filter = deny, *
; filter = allow, xmls

;==============================================================================
; web interface placement and messages
[server]
web_root = %exedir%\Web
message_file = %exedir%\Web\SmartServer.xrs.xml 

;==============================================================================
; user credentials
[users]
admin = admin, hb3fA4WsM68ZmQpM9O5L6GgmAU8Y5NNvrrKCXsx4Zrc=
user = user, OAecdJWrvWHtDayYWAQQ07puh6CQS9lCN1VrDUM2MJo=

;==============================================================================
; web interface access list
; [http_access_list]
; deny = 0.0.0.0/0
; allow = 127.0.0.1
