[device]
id = eibnet:192.168.1.1
mode = tunneling

[objects]
objects = tracker, switch, 1/0/1..1/0/24
objects = tracker, value, 2/0/1..2/0/24

[log]
level = warning

;[log]
;level = warning
;target = file
;file = c:\EibSrv.log

;==============================================================================
[server]
web_root = %exedir%\Web
message_file = %exedir%\Web\SmartServer.xrs.xml 

[users]
admin = sysadmin, hb3fA4WsM68ZmQpM9O5L6GgmAU8Y5NNvrrKCXsx4Zrc=
user = sysuser, OAecdJWrvWHtDayYWAQQ07puh6CQS9lCN1VrDUM2MJo=
