[device]
id = eibnet:10.0.0.6
mode = tunneling

[behaviours]
readers_period = 60000

[blocks]
block = temperature_readers

[temperature_readers]
type = value
behaviour = reader
objects = 2/0/0, 2/0/1

;==============================================================================
; web interface placement and messages
[server]
web_root = %exedir%\Web
message_file = %exedir%\Web\SmartServer.xrs.xml 

;==============================================================================
; user credentials
[users]
admin = sysadmin, hb3fA4WsM68ZmQpM9O5L6GgmAU8Y5NNvrrKCXsx4Zrc=
user = sysuser, OAecdJWrvWHtDayYWAQQ07puh6CQS9lCN1VrDUM2MJo=
