<?xml version="1.0" encoding="utf-8"?>
<Wix xsi:schemaLocation="http://schemas.microsoft.com/wix/2003/01/wi wix.xsd" xmlns="http://schemas.microsoft.com/wix/2003/01/wi" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xse="http://schemas.microsoft.com/wix/2005/XmlSchemaExtension" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://schemas.microsoft.com/wix/2003/01/wi" xmlns:html="http://www.w3.org/1999/xhtml" xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty">
    <Product
      Codepage="$(var.CodePage)" Language="$(var.Language)"
      Manufacturer="$(var.Manufacturer)" Name="$(var.ProductDescription)" Version="$(var.ProductVersion)"
      Id="$(var.ProductGUID)" UpgradeCode="$(var.UpgradeGUID)">
        <Package Compressed="yes" Id="????????-????-????-????-????????????" Languages="$(var.Language)" SummaryCodepage="$(var.CodePage)" />
        <Media Cabinet="Product.Cab" EmbedCab="yes" Id="1">
        </Media>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <?if $(var.CLib)!=Static ?>
            <?if $(var.ConfigurationName)=Debug ?>
            <Merge Id="VC8Runtime" SourceFile="C:\Program Files\Common Files\Merge Modules\Microsoft_VC80_DebugCRT_x86.msm" Language="1033" DiskId="1" />
            <Merge Id="VC8Policy" SourceFile="C:\Program Files\Common Files\Merge Modules\policy_8_0_Microsoft_VC80_DebugCRT_x86.msm" Language="1033" DiskId="1" />
            <?else ?>
            <Merge Id="VC8Runtime" SourceFile="C:\Program Files\Common Files\Merge Modules\Microsoft_VC80_CRT_x86.msm" Language="1033" DiskId="1" />
            <Merge Id="VC8Policy" SourceFile="C:\Program Files\Common Files\Merge Modules\policy_8_0_Microsoft_VC80_CRT_x86.msm" Language="1033" DiskId="1" />
            <?endif ?>
            <?endif ?>
            <Directory Id="ProgramFilesFolder">
                <Directory Id="Inris" Name="Inris">
                    <Directory Id="INSTALLDIR" Name="IBSSupp" LongName="IBSSupport">
                        <Component Guid="8BE583C9-4D99-443c-9B44-7760B33D7479" Id="Program">
                            <File DiskId="1" Id="Changelog.txt" Name="Changes.txt" Source="Changelog.txt" Vital="yes">
                            </File>
                            <File DiskId="1" Id="License.rtf" Name="License.rtf" Source="License.rtf" Vital="yes">
                            </File>
                            <File DiskId="1" Id="IBSSupport.DLL" Name="IBSSupp.dll" LongName="IBSSupport.dll" Source="IBSSupport.dll" Vital="yes">
                            </File>
                        </Component>
                        <Component Id="Licence" Guid="E328ECA5-454E-409a-98A4-98510C323E9D">
                            <File Id="Licence" Name="Licence.lic" DiskId="1" LongName="$(var.ProductId).tlic" Source="$(var.ProductId).tlic" Vital="yes" />
                        </Component>
                        <Directory Id="EXAMPLES" Name="Examples">
                            <Component Id="Examples" Guid="93229FA0-7EC6-4190-9345-AC1FA1E8B63C">
                                <File Id="IBSSupport.cw" Name="ReAscDrv.cw" LongName="IBSSupport.cw" Source="Examples\IBSSupport.cw" DiskId="1" />
                                <File Id="IBSSupport.par" Name="ReAscDrv.par" LongName="IBSSupport.par" Source="Examples\IBSSupport.par" DiskId="1" />
                            </Component>
                        </Directory>
                        <?if $(var.LeakChecking)=on ?>
                        <Component Guid="7CEF39D9-4408-4f00-821E-B330B0E246D9" Id="LeakDetector">
                            <File DiskId="1" Id="LeakDetector.DLL" LongName="LeakDetector.dll" Name="LeakDet.dll" Source="LeakDetector.dll" Vital="yes">
                            </File>
                        </Component>
                        <?endif ?>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        <?if $(var.CLib)!=Static ?>
        <Feature Id="VC8RuntimeFeature" Level="1" AllowAdvertise="no" Display="hidden">
            <MergeRef Id="VC8Runtime" />
            <MergeRef Id="VC8Policy" />
        </Feature>
        <?endif ?>
        <Feature ConfigurableDirectory="INSTALLDIR" Id="Complete" Level="1">
            <ComponentRef Id="Program" />
            <ComponentRef Id="Licence" />
            <ComponentRef Id="Examples" />
            <?if $(var.LeakChecking)=on ?>
            <ComponentRef Id="LeakDetector" />
            <?endif ?>
        </Feature>

        <UIRef Id="WixUI_Licence" />
        <UI />

        <?include $(var.BuildRoot)\Manufacturer.wxs ?>

    </Product>
</Wix>
