<?xml version="1.0" encoding="utf-8"?>
<Wix xsi:schemaLocation="http://schemas.microsoft.com/wix/2003/01/wi wix.xsd" xmlns="http://schemas.microsoft.com/wix/2003/01/wi" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xse="http://schemas.microsoft.com/wix/2005/XmlSchemaExtension" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://schemas.microsoft.com/wix/2003/01/wi" xmlns:html="http://www.w3.org/1999/xhtml" xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty">
    <Product
      Codepage="$(var.CodePage)" Language="$(var.Language)"
      Manufacturer="$(var.Manufacturer)" Name="$(var.ProductDescription)" Version="$(var.ProductVersion)"
      Id="$(var.ProductGUID)" UpgradeCode="$(var.UpgradeGUID)">
        <Package Compressed="yes" Id="????????-????-????-????-????????????" Languages="$(var.Language)" SummaryCodepage="$(var.CodePage)" />
        <Media Cabinet="Product.Cab" EmbedCab="yes" Id="1">
        </Media>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <?if $(var.CLib)!=Static ?>
            <?if $(var.ConfigurationName)=Debug ?>
            <Merge Id="VC8Runtime" SourceFile="C:\Program Files\Common Files\Merge Modules\Microsoft_VC80_DebugCRT_x86.msm" Language="1033" DiskId="1" />
            <Merge Id="VC8Policy" SourceFile="C:\Program Files\Common Files\Merge Modules\policy_8_0_Microsoft_VC80_DebugCRT_x86.msm" Language="1033" DiskId="1" />
            <?else ?>
            <Merge Id="VC8Runtime" SourceFile="C:\Program Files\Common Files\Merge Modules\Microsoft_VC80_CRT_x86.msm" Language="1033" DiskId="1" />
            <Merge Id="VC8Policy" SourceFile="C:\Program Files\Common Files\Merge Modules\policy_8_0_Microsoft_VC80_CRT_x86.msm" Language="1033" DiskId="1" />
            <?endif ?>
            <?endif ?>
            <Directory Id="ProgramFilesFolder">
                <Directory Id="NeNo" Name="NeNo">
                    <Directory Id="INSTALLDIR" Name="SDAPBrg" LongName="SDAPBridge">
                        <Component Guid="57DF5758-9AF5-47ab-9241-248F1B1227EB" Id="Program">
                            <File DiskId="1" Id="SDAPBridge.dll" Name="SDAPBrg.dll" LongName="SDAPBridge.dll" Source="SDAPBridge.dll" Vital="yes" KeyPath="yes" />
                        </Component>
                        <Component Guid="1DD4D466-7552-4d8d-A1EB-D27A39A1ABBC" Id="RuntimeLib">
                            <File DiskId="1" Id="SCCore.dll" Name="SCCore.dll" Source="SCCore.dll" Vital="yes" KeyPath="yes" />
                        </Component>
                        <Component Guid="E84AAF36-7698-429c-A985-70219D8C5E42" Id="DebugInfo">
                            <File Id="SDAPBridge.PDB" Name="SDAPBrdg.pdb" LongName="SDAPBridge.pdb" Source="SDAPBridge.pdb" DiskId="1" KeyPath="yes"/>
                            <File Id="ScCore.PDB" Name="sccore.pdb" Source="sccore.pdb" DiskId="1" />
                            <File Id="SDAPBridge.MAP" Name="SDAPBrdg.map" LongName="SDAPBridge.map" Source="SDAPBridge.map" DiskId="1" />
                            <File Id="ScCore.MAP" Name="sccore.map" Source="sccore.map" DiskId="1" />
                        </Component>
                        <Component Id="Licence" Guid="8E9CA158-2B17-479d-BBA6-37B42830B32C">
                            <File Id="Licence" Name="Licence.lic" DiskId="1" LongName="$(var.ProductId).tlic" Source="$(var.ProductId).tlic" Vital="yes" />
                            <File Id="License.rtf" Name="License.rtf" Source="License.rtf" DiskId="1" />
                        </Component>
                        <?if $(var.LanguageName)=en ?>
                        <Component Id="Documentation" Guid="A2D117D2-36A5-40a9-BC13-B1618A7A0EDE">
                            <File Id="SDAPBridge.pdf" Name="SDAPBrdg.pdf" LongName="SDAPBridge.pdf" Source="..\Doc\SDAPBridge_en.pdf" DiskId="1" Vital="yes" KeyPath="yes">
                                <Shortcut Id="StartMenuDocumentation" Directory="ProgramMenuDir" Name="Manual" LongName="SDAPBridge documentation" />
                            </File>
                            <File Id="Changelog.txt" Name="Changes.txt" Source="Changelog.txt" DiskId="1" />
                        </Component>
                        <?endif ?>
                        <?if $(var.LanguageName)=cs ?>
                        <Component Id="Documentation" Guid="90091D59-83EE-4c1f-9615-DBAA3E368EC7">
                            <File Id="SDAPBridge.pdf" Name="SDAPBrdg.pdf" LongName="SDAPBridge.pdf" Source="..\Doc\SDAPBridge_cs.pdf" DiskId="1" Vital="yes" KeyPath="yes">
                                <Shortcut Id="StartMenuDocumentation" Directory="ProgramMenuDir" Name="Manuál" LongName="Dokumentace SDAPBridge" />
                            </File>
                            <File Id="Changelog.txt" Name="Changes.txt" Source="Changelog.txt" DiskId="1" />
                        </Component>
                        <?endif ?>
                        <Directory Id="EXAMPLES" Name="Examples">
                            <Component Id="Examples" Guid="8E9CA158-2B17-479d-BBA6-37B42830B32C">
                                <File Id="sdapbridge.cw5.cw" Name="SDAPbrg5.cw" LongName="SDAPbridge.cw5.cw" Source="Examples\SDAPbridge.cw5.cw" DiskId="1" />
                                <File Id="sdapbridge.cw6.cw" Name="SDAPbrg6.cw" LongName="SDAPbridge.cw6.cw" Source="Examples\SDAPbridge.cw6.cw" DiskId="1" />
                                <File Id="SDAPbridge.par" Name="SDAPbrg.par" LongName="SDAPbridge.par" Source="Examples\SDAPbridge.par" DiskId="1" />
                            </Component>
                        </Directory>
                        <?if $(var.LeakChecking)=on ?>
                        <Component Guid="928D5A77-572E-4265-B78C-FE5F3A1D17A2" Id="LeakDetector">
                            <File DiskId="1" Id="LeakDetector.DLL" LongName="LeakDetector.dll" Name="LeakDet.dll" Source="LeakDetector.dll" Vital="yes">
                            </File>
                        </Component>
                        <?endif ?>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        <Directory Id="ProgramMenuFolder" Name="PMenu" LongName="Programs">
            <Directory Id="ProgramMenuDir" Name='SDAPBrdg' LongName="NeNo SDAP Bridge ControlWeb Driver" />
        </Directory>
        <?if $(var.CLib)!=Static ?>
        <Feature Id="VC8RuntimeFeature" Level="1" AllowAdvertise="no" Display="hidden">
            <MergeRef Id="VC8Runtime" />
            <MergeRef Id="VC8Policy" />
        </Feature>
        <?endif ?>
        <Feature ConfigurableDirectory="INSTALLDIR" Id="Complete" Level="1">
            <ComponentRef Id="Program" />
            <ComponentRef Id="RuntimeLib" />
            <ComponentRef Id="Licence" />
            <ComponentRef Id="Documentation" />
            <ComponentRef Id="Examples" />
            <?if $(var.LeakChecking)=on ?>
            <ComponentRef Id="LeakDetector" />
            <?endif ?>
        </Feature>
        <Feature ConfigurableDirectory="INSTALLDIR" Id="DebugInfo" Level="0">
            <Condition Level="1">DEBUG_INFO</Condition>
            <ComponentRef Id="DebugInfo" />
        </Feature>

        <UIRef Id="WixUI_Licence" />
        <UI />

        <?include $(var.BuildRoot)\Manufacturer.wxs ?>

    </Product>
</Wix>