<?xml version="1.0" encoding="utf-8"?>
<Wix xsi:schemaLocation="http://schemas.microsoft.com/wix/2003/01/wi wix.xsd" xmlns="http://schemas.microsoft.com/wix/2003/01/wi" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xse="http://schemas.microsoft.com/wix/2005/XmlSchemaExtension" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://schemas.microsoft.com/wix/2003/01/wi" xmlns:html="http://www.w3.org/1999/xhtml" xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty">
    <Product
      Codepage="$(var.CodePage)" Language="$(var.Language)"
      Manufacturer="$(var.Manufacturer)" Name="$(var.ProductDescription)" Version="$(var.ProductVersion)"
      Id="$(var.ProductGUID)" UpgradeCode="$(var.UpgradeGUID)">
        <Package Compressed="yes" Id="????????-????-????-????-????????????" Languages="$(var.Language)" SummaryCodepage="$(var.CodePage)" />
        <Media Cabinet="Product.Cab" EmbedCab="yes" Id="1">
        </Media>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <?if $(var.CLib)!=Static ?>
            <?if $(var.ConfigurationName)=Debug ?>
            <Merge Id="VC8Runtime" SourceFile="C:\Program Files\Common Files\Merge Modules\Microsoft_VC80_DebugCRT_x86.msm" Language="1033" DiskId="1" />
            <Merge Id="VC8Policy" SourceFile="C:\Program Files\Common Files\Merge Modules\policy_8_0_Microsoft_VC80_DebugCRT_x86.msm" Language="1033" DiskId="1" />
            <?else ?>
            <Merge Id="VC8Runtime" SourceFile="C:\Program Files\Common Files\Merge Modules\Microsoft_VC80_CRT_x86.msm" Language="1033" DiskId="1" />
            <Merge Id="VC8Policy" SourceFile="C:\Program Files\Common Files\Merge Modules\policy_8_0_Microsoft_VC80_CRT_x86.msm" Language="1033" DiskId="1" />
            <?endif ?>
            <?endif ?>
            <Directory Id="ProgramFilesFolder">
                <?if $(var.Manufacturer)=Inris ?>
                <Directory Id="Inris" Name="Inris">
                    <?else ?>
                    <Directory Id="SmartControl" LongName="SmartControl" Name="SmartCon">
                        <?endif ?>
                        <Directory Id="INSTALLDIR" Name="NetMsg">
                            <Component Guid="EAAA6D5F-84DE-4bbe-9B34-BFB3714AD361" Id="Program">
                                <File DiskId="1" Id="Changelog.txt" Name="Changes.txt" Source="Changelog.txt" Vital="yes">
                                </File>
                                <File DiskId="1" Id="License.rtf" Name="License.rtf" Source="License.rtf" Vital="yes">
                                </File>
                                <File DiskId="1" Id="NetMsg.DLL" Name="NetMsg.dll" Source="NetMsg.dll" Vital="yes">
                                </File>
                            </Component>
                            <Component Id="Licence" Guid="52F6C8CC-1D96-41A0-BA19-41BAB82FE687">
                                <File Id="Licence" Name="Licence.lic" DiskId="1" LongName="$(var.ProductId).tlic" Source="$(var.ProductId).tlic" Vital="yes" />
                            </Component>
                            <?if $(var.LeakChecking)=on ?>
                            <Component Guid="1D90B91C-AB50-48b2-9FBC-D9B133DF0E9D" Id="LeakDetector">
                                <File DiskId="1" Id="LeakDetector.DLL" LongName="LeakDetector.dll" Name="LeakDet.dll" Source="LeakDetector.dll" Vital="yes">
                                </File>
                            </Component>
                            <?endif ?>
                        </Directory>
                    </Directory>
                    <?if $(var.Manufacturer)=Inris ?>
                </Directory>
                <?else ?>
            </Directory>
            <?endif ?>
        </Directory>
        <?if $(var.CLib)!=Static ?>
        <Feature Id="VC8RuntimeFeature" Level="1" AllowAdvertise="no" Display="hidden">
            <MergeRef Id="VC8Runtime" />
            <MergeRef Id="VC8Policy" />
        </Feature>
        <?endif ?>
        <Feature ConfigurableDirectory="INSTALLDIR" Id="Complete" Level="1">
            <ComponentRef Id="Program" />
            <ComponentRef Id="Licence" />
            <?if $(var.LeakChecking)=on ?>
            <ComponentRef Id="LeakDetector" />
            <?endif ?>
        </Feature>

        <UIRef Id="WixUI_Licence" />
        <UI />

        <?include $(var.BuildRoot)\Manufacturer.wxs ?>

    </Product>
</Wix>