[server]
web_root = %exedir%\Web
message_file = %exedir%\Web\SmartServer.xrs.xml 

[users]
admin = admin, hb3fA4WsM68ZmQpM9O5L6GgmAU8Y5NNvrrKCXsx4Zrc=
user = user, OAecdJWrvWHtDayYWAQQ07puh6CQS9lCN1VrDUM2MJo=

[device]
id = eibnet:192.168.1.111
mode = tunneling

[objects]
;logged_objects = transmitter_with_status, switch, 3/1/21..3/1/140
;esf_adapt = RD.esf 

[debug]
;debug_mode = kernel
;debug_level = warning
