;==============================================================================
; default values are denoted with *

;==============================================================================
; web interface placement and messages
[server]
web_root = %exedir%\Web
message_file = %exedir%\Web\SmartServer.xrs.xml 

;==============================================================================
; user credentials
[users]
admin = admin, hb3fA4WsM68ZmQpM9O5L6GgmAU8Y5NNvrrKCXsx4Zrc=
user = user, OAecdJWrvWHtDayYWAQQ07puh6CQS9lCN1VrDUM2MJo=

;==============================================================================
; global log
; [log]
; target = *kernel | file | none
; level = fatal | *error | warning | info
; file =

;==============================================================================
; data log, it allows store data log items in parallel with
; web accessed buffer
; [datalog]
; target = kernel | file | *none
; file =

;==============================================================================
; configuration of connection to IP interface
[device]
id = eibnet:192.168.1.111
; mode = tunneling | tunneling-ACK | routing
mode = tunneling

;==============================================================================
; communicated, known data objects (group addresses)
[objects]
; logged_objects = transmitter_with_status, switch, 3/1/21..3/1/140
; esf_adapt = RD.esf 
