[server]
web_root = %exedir%\Web
message_file = %exedir%\Web\SmartServer.xrs.xml 

[device]
id = eibnet:192.168.1.111
mode = tunneling

[objects]
;logged_objects = transmitter_with_status, switch, 3/1/21..3/1/140
;esf_adapt = RD.esf 

[debug]
;debug_mode = kernel
;debug_level = warning
