<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
	<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="cache.use_second_level_cache">false</property>

        <mapping class="cz.smartcontrol.licensing.domain.Activation"/>
        <mapping class="cz.smartcontrol.licensing.domain.Customer"/>
        <mapping class="cz.smartcontrol.licensing.domain.Dealer"/>
        <mapping class="cz.smartcontrol.licensing.domain.Licence"/>
        <mapping class="cz.smartcontrol.licensing.domain.Manufacturer"/>
        <mapping class="cz.smartcontrol.licensing.domain.Operator"/>
        <mapping class="cz.smartcontrol.licensing.domain.OperatorType"/>
        <mapping class="cz.smartcontrol.licensing.domain.Product"/>
        <mapping class="cz.smartcontrol.licensing.domain.UniquerType"/>
        <mapping class="cz.smartcontrol.licensing.domain.ProductVersion"/>
    </session-factory>
</hibernate-configuration>
